/**************************
HTML Style Rules
**************************/

html {
   
}

/* Select all elements */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/**************************
Body Style Rules
**************************/








/**************************
Header Style Rules
**************************/
h1, h5 {
    font-family: 'Righteous', cursive;
}






/**************************
Nav Style Rules
**************************/




/**************************
Main Style Rules
**************************/





/**************************
Footer Style Rules
**************************/

