/**************************
HTML Style Rules
**************************/

html {
    background-color: rgb(158, 65, 65);
}

/* Select all elements */
* {
    padding: 0px;
    margin: 0px;
}

/**************************
Body Style Rules
**************************/








/**************************
Header Style Rules
**************************/






/**************************
Nav Style Rules
**************************/




/**************************
Main Style Rules
**************************/





/**************************
Footer Style Rules
**************************/

